extends layout

block content
	h1 Welcome to the Kingdom of Everfrost

	h2 Create a hero!
	form#hero-create(action="/create-hero", method="POST")
		input(name="name", placeholder="Name of Hero")
		input(name="costume", placeholder="Hero's Costume")
		input(name="catchPhrase", placeholder="Catchphrase")
		input(name="powers", placeholder="Powers")
		

	h3 Our Heroes...

	if characters.length === 0
		h6 No heroes...

	else
		ul#hero-list
			for character in characters
				li
					.hero-container
						h6.hero-name #{character.name}
						p.hero-costume Looks like : #{character.costume}
						p.hero-catchphrase "#{character.catchPhrase}"

						h6 Powers:
						ul.power-list
							for power in character.powers
								li.power #{power}